<!--GET DAILY REVENUE-->

<div class="card" style="background-color: rgba(0, 0, 0, 0.3)!important;">
    <div class="card-header">
      <a class="{%if runningAcc != 'revdate'%}collapsed{%endif%} card-link" data-toggle="collapse" href="#DateRevenue">Get Daily Revenue</a>
    </div>
    <div id="DateRevenue" class="collapse {%if runningAcc == 'revdate'%}show{%endif%}" data-parent="#accordion">
        <div class="card-body">
            {%if dateData[1]%}
            <div class="alert alert-danger">
                ERROR 401: Unauthorised User
            </div>
            {%endif%}
            <form method="post", action="{{url_for('revdate')}}">
                <div class="input-group mb-3">
                    <input type="date" style="border-color: #d1d7dc; color: #5f656c;" class="form-control" name="date" max="{{today}}">
                    <input type="password" name="password" class="form-control" placeholder="Re-Enter Password">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-success" >Get</button>
                    </div>
                </div>
            </form>
            <br>
            <p>This Year's Revenue: Rs. {{dateData[0]}}</p>
        </div>
    </div>
</div>
