<!--GET YEARLY REVENUE-->

<div class="card" style="background-color: rgba(0, 0, 0, 0.3)!important;">
    <div class="card-header">
      <a class="{%if runningAcc != 'revyear'%}collapsed{%endif%} card-link" data-toggle="collapse" href="#YearRevenue">Get Yearly Revenue</a>
    </div>
    <div id="YearRevenue" class="collapse {%if runningAcc == 'revyear'%}show{%endif%}" data-parent="#accordion">
        <div class="card-body">
            {%if yearData[1]%}
            <div class="alert alert-danger">
                ERROR 401: Unauthorised User
            </div>
            {%endif%}
            <form method="post", action="{{url_for('revyear')}}">
                <div class="input-group mb-3">
                    <select name="year"  class="form-control">
                        {%for year in range(2015,2022)%}
                        <option>{{year}}</option>
                        {%endfor%}
                    </select>
                    <input type="password" name="password"  class="form-control" placeholder="Re-Enter Password">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-success" >Get</button>
                    </div>
                </div>
            </form>
            <br>
            <p>This Year's Revenue: Rs. {{yearData[0]}}</p>
        </div>
    </div>
</div>
